@using MudarT.Extensions;
@model ModelUsuario
@{
    ViewData["Title"] = "Home Page";
    var fechaHoy = DateTime.Now;
}

<!-- Header - set the background image for the header in the line below-->
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#home">MudaT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Reserva", "Home")">Reserva</a></li>

                <li class="nav-item">
                    <form method="post" asp-controller="Home" asp-action="LoginRedirect">
                        <button type="submit" class="btn btn-danger">Cerrar sesión</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header id="home" class="py-5 bg-image-full fondo-mudat">
    <div class="text-center my-5 d-flex flex-column justify-content-center align-item-start">
        <div class="logo-container">
            <img class="img-fluid rounded-circle mb-4" src="~/images/MudaT-Icon-sinfondo.png" alt="Logo MudaT" />
        </div>
        <h1 class="text-dark fs-3 fw-bolder">Bienvenido a MudaT</h1>
        <h2 class="text-dark-50 mb-0">@Model.nombre</h2>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Obtene un presupuesto para tu mudanza y reservala aca mismo!</h2>
                <p class="lead">Desde nuestra pagina podras planear tu mudanza y te mostraremos el costo por hora de nuestros servicios para que puedas decidir si deseas hacer una reservacion o simplemente comprobar precios.</p>
                <p class="mb-0">Si decides realizar una reserva, ésta se procesara luego de enviarse y le llegara un email con la confirmacion de la reserva y un link hacia las formas de pago.</p>
                <p class="mb-0">Mas abajo encontraras detalles sobre nuestros vehiculos y extras que podras contratar.</p>
                <p class="mb-0 text-primary"><ion-icon name="information-circle-outline"></ion-icon> Ten en cuenta que la reserva se debe hacer con, al menos, 7 dias de anticipacion, tambien podra elegir hasta 3 tipos de vehiculos y extras diferentes.</p>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-primary btn-lg m-4 text-center" href="@Url.Action("Reserva", "Home")">Comienza ahora mismo</a>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full form-container">
    <div id="cards-vehiculos" class="row justify-content-around flex-wrap w-100">
        
    </div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h2 class="text-center">Extras</h2>
                <div class="centrado">
                    <ul id="extras-info" class="list-group centrado">
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        var tiposVehiculos;
        var tiposExtras;
        var content = "";

        $.ajax({
            url: "@Url.Action("TiposVehiculos","Home")",
            type: "get",
            dataType: "json",
            data: "",
            success: function (res) {
                agregarVehiculos(res);
            }
        });

        function agregarVehiculos(res){
            tiposVehiculos = res;
            armarVehiculos(tiposVehiculos);
        }

        $.ajax({
            url: "@Url.Action("TiposExtras","Home")",
            type: "get",
            dataType: "json",
            data: "",
            success: function (res) {
                agregarExtras(res);
            }
        });

        function agregarExtras(res) {
            tiposExtras = res;
            armarExtras(tiposExtras);
        }

        function armarVehiculos(tiposVehiculos) {
            var vehiculo;
            for (var i = 0; i < tiposVehiculos.length; i++) {
                vehiculo = tiposVehiculos[i];
                content += "<div class='card w-25 m-3 bg-primary p-2 text-dark bg-opacity-50' >"
                if (vehiculo.tipo === "Camion chico") {
                    content += "<img src='" + '@Url.Content("~/images/Camion-Chico.jpg")' +"' class='card-img-top' alt = 'Camion chico' >";
                }
                if (vehiculo.tipo === "Camion mediano") {
                    content += "<img src='" + '@Url.Content("~/images/Camion-Mediano.jpg")' + "' class='card-img-top' alt = 'Camion mediano' >";
                }
                if (vehiculo.tipo === "Camion grande") {
                content += "<img src='" + '@Url.Content("~/images/Camion-Grande.jpg")' + "' class='card-img-top' alt = 'Camion grande' >";
                }
                
                content += "<div class='card-body text-center' >";
                content += "<h4 class='card-title text-white' > "+ vehiculo.tipo +" </h4>";
                content += "<p class='card-text text-white' ><strong>Largo: </strong>" + vehiculo.largo + " mts</p>";
                content += "<p class='card-text text-white' ><strong>Ancho: </strong>" + vehiculo.ancho + " mts</p>";
                content += "<p class='card-text text-white' ><strong>Alto: </strong>" + vehiculo.alto + " mts</p>";
                content += "<h4 class='card-text text-white'><strong>$" + new Intl.NumberFormat('de-DE').format(parseFloat(vehiculo.precio).toFixed(2)) + " x hs</strong></h4>"
                content += "</div>";
                content += "</div>";
            }

            $("#cards-vehiculos").html(content);
        }

        function armarExtras(extras){
            var extra;
            var contentExtra = "";
            for (var i = 0; i < extras.length; i++){
                extra=extras[i];
                contentExtra += "<li class='list-group-item list-group-item-info'>";
                contentExtra += "<p>" + extra.e_descripcion + " - $" + new Intl.NumberFormat('de-DE').format(parseFloat(extra.e_precio).toFixed(2)) + "</p>";
                contentExtra += "</li>"
            }
            $("#extras-info").html(contentExtra);
        }
    }); 

</script>